{#{% extends 'base.html.twig' %}#}

{#{% block title %}#}

{#{% endblock %}#}

{#{% block body %}#}



{#{% endblock %}#}

<h1>Visite du produit: {{ product.name }}</h1>

<h2>Détails du produit:</h2>

<ul>
    <li>Prix: {{ product.price|amount }}</li>
    <li>Slug: {{ product.slug }}</li>
</ul>