{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}

    <a class="btn btn-success btn-lg" href="{{ path('category_create') }}">Créer catégorie</a>
    <a class="btn btn-success btn-lg" href="{{ path('product_create') }}">créer produit</a>

    <h1>Nos produits phares</h1>
        <div class="row">
        {% for p in products %}
                    <div class="col-sm">
                        {% include 'product/_product_card.html.twig' %}
                        {# si p était product: #}
                        {#{% include 'product/_product_card.html.twig'#}
                        {#with {'p': product}%}#}
                    </div>
        {% endfor %}
        </div>

        <hr>
        <h2>Un service irréprochable !</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum delectus illo iusto libero placeat.</p>

        <div class="row">
            {% include "shared/_assurance.html.twig" with {
                'color': 'primary',
                'icone': 'fas fa-truck',
                'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusantium atque libero neque quisquam tempora?"
            } %}
            {% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icone': 'fas fa-check',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusantium atque libero neque quisquam tempora?"
            } %}
            {% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icone': 'fas fa-lock',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusantium atque libero neque quisquam tempora?"
            } %}
        </div>
{% endblock %}